body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    border-bottom: 1px solid #333;
  }
  
  .logo h1 {
    margin: 0;
    color: #008cff;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  nav a:hover {
    border: 500px;
    border-radius: 50px;
    background-color: #ff0000;
    color: #ffffff;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #00BFFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px;
    background: url('background.jpg') no-repeat center center/cover;
  }
  
  .hero h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .buttons .login {
    background-color: red;
    color: white;
  }
  
  .buttons .signup {
    background-color: green;
    color: white;
  }
  
  footer {
    text-align: center;
    padding: 0px;
    background-color: red;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .foot
  {
    position: relative;

  }
  .item
  {
    border: #ffffff solid;
    border-radius: 20px;
    width: 15%;
    display: flex;
    position: relative;
    
  }
  .box-item
  {
    position: relative;
    padding: 15px;
  }